page-report {
    #map {
        width: 92%;
        height: 50%;
        margin: 0 auto;
      }
    button{
        float: right;
    }

    .img{
        width: 100px;
        height: 64px;
    }
}
