page-home {
    ion-card-content{
        padding: 3% !important;

        h2{
            text-align: center;
            font-size: 2.4rem !important;
            color: #59040d;
        }
    }
}   
